* {
    box-sizing: border-box;
    margin: 0;
    font-family: 1rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* debug border */
/* div {
    border: solid black 2px;
}

div>div {
    border: solid blue 2px;
}

div>div>div {
    border-color: red
}

form {
    border: solid green 2px;
} */

/* Actual stuff */
.logoContainer {
    display: flex;
}

.left {
    height: 100vh;
    width: max(30%, 300px);
    background: no-repeat url(./halie-west-25xggax4bSA-unsplash.jpg) center/cover;
    color: rgb(255, 253, 251);
    position: relative;

}

.right {
    height: 100vh;
    /* width: 65%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: rgb(247, 245, 241);
    padding: 1.5em;
}

.logo {
    position: relative;
    display: flex;
    top: 30%;
    width: 100%;
    font-size: 2.5rem;
    height: 3em;
    text-align: center;
    background: #00000079;
}

.logo>* {
    margin: auto;
}

.logo>span {
    margin-left: 0;
}

.logoImage {
    height: 100%;
    width: auto;
    margin-right: 0;
}

.credit {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}

.openingText {
    width: 100%;
    padding: 1em 2em 1em 0;
    font-size: 1.5rem;
}

.openingText>p:first-child {
    margin-bottom: 1rem;
}

form {
    background-color: rgb(250, 249, 248);
    padding: 1.05em 2em 1.05em 0;
}

legend {
    font-size: 1.7rem;
    font-weight: bold;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.item {
    width: 50%;
    padding: 1.2em;
    padding-left: 0;
    font-size: 1.3rem;
}

label {
    display: block;
}

input {
    width: 90%;
    border: solid #e5e7eb;
    border-radius: 5px;
    font-size: 1.2rem;
}

input:user-invalid {
    border-color: red;
}

.submitButton {
    margin: 1em 0 1em 0;
    font-size: 1.5rem;
    padding: 0.6em 0.9em;
    border: none;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
}

.submitButton:hover {
    box-shadow: 0 4px 12px black;
}

.login {
    font-size: 1.2rem;
}

.login a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}